<table data-role="table" class="ui-body-d ui-shadow table-stripe ui-responsive">
  <thead>
  	  <tr>
	    <th colspan="8"></th>
	    <th colspan="5"><strong>Est.Cost.Rs:<span id="absEstimateCost"></span>Lakhs</strong></th>
	  </tr>
	  <tr>
	    <th rowspan="2">S.No</th>
	    <th rowspan="2">Description of item</th>
	    <th colspan="3" rowspan="2">Nos</th>
	    <th colspan="3">Measurements</th>
	    <th colspan="2" rowspan="2" >Qunatity</th>
	    <th colspan="2" rowspan="2">Rate/Per</th>
	    <th rowspan="2">Amount</th>
	  </tr>
	  <tr>
	    <th>L</th>
	    <th>B</th>
	    <th>D</th>
	  </tr>
  </thead>
  <tbody>
  {{#each codeToRates}}
	  <tr>
	    <td>{{add @index 1}}</td>
	    <td colspan="7">{{description}} <div style="float:right" id="addLBD" data-icon="arrow-l" data-index="{{@index}}">Add</div></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td style="width:6%"><div id="Nos1{{@index}}"/></td>
	    <td>X</td>
	    <td style="width:6%"><div id="Nos2{{@index}}"/></td>
	    <td style="width:10%"><div id="length{{@index}}"></div></td>
	    <td style="width:10%"><div id="breadth{{@index}}"></div></td>
	    <td style="width:10%"><div id="depth{{@index}}"></div></td>
	    <td id="totalUnits{{@index}}"></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
	  <tr>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td id="quantity{{@index}}"></td>
	    <td>Cum</td>
	    <td id="itemRate{{@index}}">{{rate}}</td>
	    <td>/1cum</td>
	    <td id="totalAmount{{@index}}"></td>
	  </tr>
	{{/each}}  
  </tbody>
</table>
<div data-role="popup" id="getLBDData" data-arrow="true" class="ui-content">
 	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
 	<div data-role="fieldset">
	 	<div class="ui-grid-a">
			<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Length:</label></div>
			<div class="ui-block-b"><input type="text" id="length"></div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Breadth:</label></div>
			<div class="ui-block-b"><input type="text" id="breadth"></div>
		</div>
		<div class="ui-grid-a">
			<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Depth:</label></div>
			<div class="ui-block-b"><input type="text" id="depth"></div>
		</div>
	</div>
	<input type="button" value="Save" id="saveLBD"/>
</div>
