	<table data-role="table" class="ui-body-d ui-shadow table-stripe ui-responsive">
	  <thead>
	  	  <tr>
		    <th colspan="8"></th>
		    <th colspan="5"><strong>Est.Cost.Rs:<span id="absEstimateCost"></span>Lakhs</strong></th>
		  </tr>
		  <tr>
		    <th rowspan="2">S.No</th>
		    <th rowspan="2">Description of item</th>
		    <th colspan="3" rowspan="2">Nos</th>
		    <th colspan="3">Measurements</th>
		    <th colspan="2" rowspan="2" >Qunatity</th>
		    <th colspan="2" rowspan="2">Rate/Per</th>
		    <th rowspan="2">Amount</th>
		  </tr>
		  <tr>
		    <th>L</th>
		    <th>B</th>
		    <th>D</th>
		  </tr>
	  </thead>
	  <tbody>
	  {{#each codeToDatas}}
		  <tr>
		    <td><strong>{{add @index 1}}</strong></td>
			<td colspan="7"><strong>{{description}}</strong></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
	  	{{#each lbdsArray}}
	  	  <tr>
		    <td><input type="button" data-iconpos="notext" style="float:right" class="addLBD" data-icon="plus" data-index="{{../itemIndex}}-{{@index}}"/></td>
		    <td><div id="lbdDesc{{../itemIndex}}-{{@index}}">{{lbddescription}}</div></td>
		    <td style="width:6%"><div id="Nos1{{../itemIndex}}-{{@index}}">{{nos1}}</div></td>
		    <td>X</td>
		    <td style="width:6%"><div id="Nos2{{../itemIndex}}-{{@index}}">{{nos2}}</div></td>
		    <td style="width:10%"><div id="length{{../itemIndex}}-{{@index}}">{{length}}</div></td>
		    <td style="width:10%"><div id="breadth{{../itemIndex}}-{{@index}}">{{breadth}}</div></td>
		    <td style="width:10%"><div id="depth{{../itemIndex}}-{{@index}}">{{depth}}</div></td>
		    {{#compare lbdType "add" operator="=="}}
		    	<td><div id="totalUnits{{../../itemIndex}}-{{@index}}" data-lbdType="add">{{totalUnits}}</div></td>
		    {{else}}
		    	<td><div id="totalUnits{{../../itemIndex}}-{{@index}}" data-lbdType="minus" style="color:red">-{{totalUnits}}</div></td>
		    {{/compare}}
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		  </tr>
		{{/each}} 
		  <tr>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td></td>
		    <td id="quantity{{@index}}">{{sumUnits lbdsArray}}</td>
		    <td>{{unit}}</td>
		    <td id="itemRate{{@index}}"><strong>{{rate}}</strong></td>
		    <td>/1{{unit}}</td>
		    <td id="totalAmount{{@index}}"><strong>{{dataAmount this}}</strong></td>
		  </tr>
		{{/each}}  
	  </tbody>
	</table>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="footer-buttons">
		<hr />
		<div class="ui-grid-a">
			<div class="ui-block-a footer-left">
				<input type="button" id="clearAll" value="Clear All" data-inline="true"/>
			</div>
			<div class="ui-block-b footer-right">
				<input type="button" data-inline="true" data-icon="arrow-r" data-iconpos="right" value="Save Estimate" id="saveEstimate"/>
			</div>
		</div>
	</div>
	<div data-role="popup" id="getLBDData" data-arrow="true" class="ui-content">
	 	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
	 	<P id="mandatoryText" style="color:red"><i><strong>Please enter all mandatory* fields</strong></i></p>
	 	<div data-role="fieldset">
	 		<div class="ui-grid-a">
				<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Description:</label></div>
				<div class="ui-block-b"><input type="text" placeholder="Ex:Column footing" class="lbdinput" id="lbdDescription"></div>
			</div>
	 		<div class="ui-grid-a">
				<div class="ui-block-a" style="padding-top:5%;width:50%"><label>NOs:<sup style="color:red"><b>*</b></sup></label></div>
				<div class="ui-block-b">
					 <div class="ui-grid-b">
						<div class="ui-block-a"><input type="text" class="lbdinput" id="nos1"></div>
						<div class="ui-block-b"><label style="padding-left:40%;padding-top:15%"><strong>X</strong></label></div>
						<div class="ui-block-c"><input type="text" class="lbdinput" id="nos2"></div>
					</div>
				</div>
			</div>
		 	<div class="ui-grid-a">
				<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Length<sup style="color:red"><b>*</b></sup>:</label></div>
				<div class="ui-block-b"><input type="text" class="lbdinput" id="length"></div>
			</div>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Breadth<sup style="color:red"><b>*</b></sup>:</label></div>
				<div class="ui-block-b"><input type="text" class="lbdinput" id="breadth"></div>
			</div>
			<div class="ui-grid-a">
				<div class="ui-block-a" style="padding-top:5%;width:50%"><label>Depth<sup style="color:red"><b>*</b></sup>:</label></div>
				<div class="ui-block-b"><input type="text" class="lbdinput" id="depth"></div>
			</div>
			<div class="ui-grid-a" class="ui-content" style="padding-top:5%">
				<div class="ui-block-a">
					<label>Deduct<sup style="color:red"><b>*</b></sup>:</label>
				</div>
				<div class="ui-block-b">
					<div class="ui-grid-a">
						<div class="ui-block-a">
							<div class="ui-grid-a">
								<div class="ui-block-a">
									<label style="padding-top:2%;float:right">No</label>
								</div>
								<div class="ui-block-b" style="padding-top:4%">
									<input type="radio" name="lbdType" value="add">
								</div>
							</div>
						</div>
						<div class="ui-block-b">
							<div class="ui-grid-a">
								<div class="ui-block-a">
									<label style="padding-top:2%;float:right">Yes</label>
								</div>
								<div class="ui-block-b" style="padding-top:4%">
									<input type="radio" name="lbdType" value="minus">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- /grid-b -->
		</div>
		<input type="button" value="Save" id="saveLBD"/>
	</div>

