
<p><strong><i>Default datas for CC Road estimation:<i></strong></p>			
<div id="testPdf">
	<table data-role="table" class="ui-body-d ui-shadow table-stripe ui-responsive">
	<thead>
	  <tr>
	    <th>Sl.No</th>
	    <th>Item-Code</th>
	    <th>Description</th>
	    <th>Choose</th>
	  </tr>
	 </thead>
	 <tbody id="estimateItems"> 
	  {{#each indexToDatasArray}}
		  <tr class="{{this.IndexCode}}">
		    <td>{{add @index 1}}</td>
		    <td><div class="dataCode info-button">{{this.IndexCode}}</div></td>
		    <td>{{this.description}}</td>
		    <td><input data-table="{{this.TableName}}" type="checkbox" name="itemsSelected" checked id="{{this.IndexCode}}"/></td>
		  </tr>
		   {{#each this.subitemsArray}}	  
		   	  <tr class="{{../IndexCode}}">  
			    <td></td>
			    <td>{{this.SlNo}}</td>
			    <td>{{this.descritpion}}</td>
			    <td><input type="checkbox" class="{{../IndexCode}}" name="{{../IndexCode}}" id="{{this.SlNo}}"/></td> 
		   	  </tr> 
		   {{/each}}
	  {{/each}}
	  </tbody>
	</table>
</div>

<br/>
<br/>
<br/>
<br/>

<div class="footer-buttons">
	<hr />
	<div class="ui-grid-a">
		<div class="ui-block-a footer-left">
			<input type="button" id="addDatas" data-icon="plus" data-iconpos="left" value="Add More Datas" data-inline="true"/>
		</div>
		<div class="ui-block-b footer-right">
			<input type="button" data-inline="true" data-icon="arrow-r" data-iconpos="right" value="Proceed To Lead" id="proceedToLeadStmt"/>
		</div>
	</div>
</div>

<div data-role="popup" id="deleteData" data-arrow="true" class="ui-content">
 	<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
 	<input type="submit" value="Delete?" id="deleteDataIndex">
</div>
