<!--
<div style="text-align:center">
		<div style="float:left;margin-top:-0.3em">
			<input type="button" id="backButton" data-inline="true" data-icon="back" data-mini="true" data-iconpos="notext" />
		</div>
		<h2 style= "display:inline">{{chapterTitle}}</h2>
		<div style="float:right;margin-top:-0.5em"">
			<input type="button" id="addToQ" value="Add To Q" data-inline="true" data-icon="plus" data-mini="true" data-iconpos="right" />
		</div>
	<hr />
</div>
-->
<div class="ui-grid-b" style="margin-top:0.7em">
	<div class="ui-block-a" style="width:15%;">
		<div style="margin-top:-0.3em">
			<input type="button" id="backButton" data-inline="true" data-icon="back" data-mini="true" data-iconpos="notext" />
		</div>
	</div>
	<div class="ui-block-b" style="width:70%;text-align:center">
		<h2 style= "display:inline;">{{chapterTitle}}</h2>
	</div>
	<div class="ui-block-c" style="width:15%">
		{{#if datasAsService}}
			<div style="float:right;margin-top:-0.3em">
				<input type="button" id="updateEst" value="Update Est" data-inline="true" data-icon="plus" data-mini="true" data-iconpos="right" />
			</div>
		{{/if}}
	</div>
</div>

<hr />

 <P id="noChangeText" style="color:red;display:none"><i><strong>There is no change to Update.</strong></i></p>
 <div id="tableContainer" style="padding-top:2em">
	<table data-role="table" class="table-stroke table-stripe ui-responsive" id="tableItems">
	  <thead>
	  <tr>
	    <th>Sl.No</th>
	    <th style="width:15%">Item-Code</th>
	    <th>Description</th>
	    {{#if datasAsService}}
	    	<th>Choose</th>
	    {{/if}}
	  </tr>
	  </thead>
	  <tbody id="itemsInChapter">
		  {{#each chapterToItemsMap.indexDatas}}
			  <tr>
			    <td>{{SNo}}</td>
			    <td style="width:15%">{{IndexCode}}</td>
			    <td class="description"><div data-indexcode="{{IndexCode}}" class="info-button">{{this.Description}}</div></td>
			    {{#if ../datasAsService}}
			   		<td><input type="checkbox" name="chosenItems" id="{{this.IndexCode}}"></td>
			    {{/if}}
			  </tr>
		  {{/each}}
	  </tbody>
	</table>
</div>
	

	

