
<p><strong><i>Datas in {{chapterTitle}}:</i></strong><p>

 <div id="tableContainer">
	<table data-role="table" class="table-stroke table-stripe ui-responsive" id="tableItems">
	  <thead>
	  <tr>
	    <th>Sl.No</th>
	    <th style="width:15%">Item-Code</th>
	    <th>Description</th>
	    <th>Choose</th>
	  </tr>
	  </thead>
	  <tbody id="itemsInChapter">
		  {{#each chapterToItemsMap.indexDatas}}
			  <tr>
			    <td>{{SNo}}</td>
			    <td style="width:15%">{{IndexCode}}</td>
			    <td class="description" id="{{tableName}}{{this.SNo}}" data-indexCode="{{IndexCode}}">{{this.Description}}</td>
			    <td><input type="checkbox" name="chosenItems" id="{{this.IndexCode}}"></td>
			  </tr>
		  {{/each}}
	  </tbody>
	</table>
</div>


<div data-role="popup" id="itemDetails" data-position-to="window" class="ui-content">
	<p>This is a basic popup</p>
</div>
<input type="submit" id="proceedToItems" value="Add to My Estimate"/>

	

