{{#if isSearchResult}}
	<p><strong>{{searchResultCount}} Results Found</strong></p>
{{else}}
	<div class="ui-grid-b" style="margin-top:0.7em">
		<div class="ui-block-a" style="width:15%;">
				<div style="margin-top:-0.3em">
					<input type="button" id="backButton" data-inline="true" data-icon="back" data-mini="true" data-iconpos="notext" />
				</div>
		</div>
		<div class="ui-block-b" style="width:70%;text-align:center">
			<h2 style= "display:inline;">{{chapterTitle}}</h2>
		</div>
		<div class="ui-block-c" style="width:15%">
			{{#if datasAsService}}
				<div style="float:right;margin-top:-0.3em">
					<input type="button" id="updateEst" value="Update Est" data-inline="true" data-icon="plus" data-mini="true" data-iconpos="right" />
				</div>
			{{/if}}
		</div>
	</div>
	<hr />
{{/if}}

 <P id="noChangeText" style="color:red;display:none"><i><strong>There is no change to Update.</strong></i></p>
 <div id="tableContainer" class="itemschapter-padding">
	<table data-role="table" class="table-stroke table-stripe ui-responsive" id="tableItems">
	  <thead>
	  <tr>
	    <th>Sl.No</th>
	    <th style="width:15%">Item-Code</th>
	    <th>Description</th>
	    {{#if datasAsService}}
	    	<th>Choose</th>
	    {{/if}}
	  </tr>
	  </thead>
	  <tbody id="itemsInChapter">
		  {{#each datasArray}}
			  <tr>
			    <td>{{add @index 1}}</td>
			    <td style="width:15%">{{item.IndexCode}}</td>
			    <td class="description"><div data-indexcode="{{IndexCode}}" class="info-button">{{{item.Description}}}</div></td>
			    {{#if ../datasAsService}}
			    	{{#if subitemsArray.length}}
			    		<td>
			    			<div class="showWrapperDiv">
			    				<input type="button" class="expandSubItems" data-class="{{../../item.IndexCode}}" data-inline="true" data-icon="plus" data-mini="true" data-iconpos="notext" />
			    			</div>
			    			<div class="hideWrapperDiv" style="display:none">
			    				<input type="button" class="hideSubItems" data-class="{{../../item.IndexCode}}" data-inline="true" data-icon="minus" data-mini="true" data-iconpos="notext" />
			    			</div>
			    		</td>
			    	{{else}}
			   			<td><input type="checkbox" data-group="{{../../../item.IndexCode}}" name="chosenItems" id="{{this.IndexCode}}"></td>
			   		{{/if}}
			    {{/if}}
			  </tr>
			  	{{#each this.subitemsArray}}	  
			   	  <tr class="{{../item.IndexCode}}" style="display:none">  
				    <td></td>
				    {{#compare subDataId.length 5 operator=">"}}
				    	<td style="text-align:right">{{this.subItemID}}</td>
				    {{else}}
				    	{{#compare subDataId.length 2 operator=">"}}
				    		<td style="text-align:center">{{this.subItemID}}</td>
				    	{{else}}
				    		<td>{{this.subItemID}}</td>
				    	{{/compare}}
				    {{/compare}}
				    <td>{{this.subItemDesc}}</td>
				    {{#if ../../datasAsService}}
				    	{{#isLeaf subDataId}}
				    		<td><input type="checkbox" name="chosenItems" data-group="{{../../../item.IndexCode}}" id="{{this.subDataId}}"/></td>
				    	{{else}}
				    		<td></td> 
				    	{{/isLeaf}}
				    {{/if}}
			   	  </tr> 
			   {{/each}}
		  {{/each}}
	  </tbody>
	</table>
</div>
	

	

