<table border="1">
  <thead>
     <tr>
        <th style="width:50px">Quantity</th>
		<th style="width:30px">Nos</th>
		<th style="width:300px">Description</th>
		<th style="width:50px">Rate</th>
		<th style="width:50px">Per</th>
		<th style="width:50px">Per</th>
		<th style="width:50px">Amount</th>
      </tr>
  </thead>
  <tbody>
  {{#each codeToDatas}}
  	{{#each this.datas}}
  		{{#compare @index 0 operator="=="}}
	      <tr>
	      	<td><strong>{{IndexCode}}</strong></td>
	  		<td><strong>{{add ../../itemIndex 1}}</strong></td>
	  		<td><strong>{{Description}}</strong></td>
	  		<td></td>
	  		<td></td>
	  		<td></td>
	  		<td></td>	
	  	  </tr>		
  		{{else}}
  		  {{#isNull SubBullet}}
			  <tr>
			    <td>{{Quantity}}</td>
			    <td>{{Unit}}</td>
			    {{#compare descType "Normal" operator="=="}}
			    	<td>{{Description}}</td>
			    {{else}}
			    	{{#compare descType "RateOrCost" operator="=="}}
				    	<td style="color:red"><strong>{{Description}}</strong></td>
				    {{else}}
				    	<td><strong>{{Description}}</strong></td>				    	
				    {{/compare}}			    
			    {{/compare}}
			    	<td>{{RateRs}}</td>
			    {{#isNull Unit}}
			    	<td></td>
			    {{else}}
			    	<td>1</td>
			    {{/isNull}}
			    <td>{{Unit}}</td>
			    {{#isNull Amount}}
			    	<td>{{Amount}}</td>
			    {{else}}
			    	<td>{{decimalFormat Amount}}</td>  
			    {{/isNull}}
			  </tr>
		  {{else}}
			 <tr>
			    <td>{{Quantity}}</td>
			    <td><strong>{{SubBullet}}</strong></td>
			    <td><strong>{{Description}}</strong></td>
			     <td>{{RateRs}}</td>
			    <td></td>
			    <td>{{Unit}}</td>
			    <td></td>
			  </tr>		  		  
		  {{/isNull}}
	  	{{/compare}}
  	{{/each}}
  {{/each}}
  </tbody>
</table>

